<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/navigation.ejs') %>
    <main>
        <div class="container py-5">
            <div class="row mb-2">
                <% data.forEach(product => { %>
                    <%- include('partials/product-item.ejs', {product}) %>
                <% }) %>
            </div>
        </div>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
